################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/node_modules
/yarn-error.log
dist
dist/**/*.map
*.map
logs/
testlogs/

*.js linguist-generated=true
*.d.ts linguist-generated=true
config/settings.json
config/setting.json

# 依赖锁文件
package-lock.json
pnpm-lock.yaml

# 其他常见的需要忽略的文件和目录

*.log
data/*
.pnpm-store/**
build/